AddDefaultCharset Utf-8
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.socums.ru$ [NC]
RewriteRule ^(.*)$ http://socums.ru/$1 [R=301,L]
RewriteRule ^road?$ /start/road_01.php [L]
RewriteRule ^save?$ /html_body/user/save_go01.php [L]
RewriteRule ^rules?$ /html_body/moduls/rules_go05.php [L]
RewriteRule ^select_location?$ /html_body/hunting/select_location_go01.php [L]
RewriteRule ^hunting_battle?$ /html_body/hunting/hunting_battle_go02.php [L]
RewriteRule ^status?$ /html_body/user/status_go04.php [L]
RewriteRule ^setting?$ /html_body/user/setting_go05.php [L]
RewriteRule ^training?$ /html_body/user/training_go06.php [L]
RewriteRule ^bag?$ /html_body/user/bag_go07.php [L]
RewriteRule ^armor_transfer?$ /html_body/user/armor_transfer_go18.php [L]
RewriteRule ^armor_transfer_act?$ /action_no_ajax/user/armor_transfer_act_go16.php [L]

RewriteRule ^chat?$ /html_body/chat/chat_go01.php [L]
RewriteRule ^chat_war?$ /html_body/chat/chat_war_go04.php [L]
RewriteRule ^smiles?$ /html_body/chat/smiles_go02.php [L]
RewriteRule ^moderator?$ /html_body/chat/moderator_go03.php [L]
RewriteRule ^news?$ /html_body/news/news_go01.php [L]
RewriteRule ^news_add?$ /html_body/news/news_add_go01.php [L]
RewriteRule ^trade_shop?$ /html_body/trade_shop/trade_shop_go01.php [L]
RewriteRule ^armor?$ /html_body/trade_shop/armor_go02.php [L]
RewriteRule ^potions?$ /html_body/trade_shop/potions_go03.php [L]

RewriteRule ^fortuna?$ /html_body/trade_shop/fortuna_go07.php [L]
RewriteRule ^fortuna_act?$ /action_no_ajax/trade_shop/fortuna/fortuna_act_go01.php [L]

RewriteRule ^auction?$ /html_body/trade_shop/auction_go05.php [L]
RewriteRule ^lot?$ /html_body/trade_shop/lot_go06.php [L]
RewriteRule ^auction_lot_act?$ /action_no_ajax/trade_shop/auction/auction_lot_act_go01.php [L]
RewriteRule ^auction_expose_act?$ /action_no_ajax/trade_shop/auction/auction_expose_act_go02.php [L]
RewriteRule ^auction_buy_act?$ /action_no_ajax/trade_shop/auction/auction_buy_act_go03.php [L]
RewriteRule ^auction_remove_act?$ /action_no_ajax/trade_shop/auction/auction_remove_act_go04.php [L]


RewriteRule ^magazin_pets?$ /html_body/trade_shop/magazin_pets_go06.php [L]
RewriteRule ^pets_buy?$ /action_no_ajax/trade_shop/pets/pets_buy_act_go01.php [L]
RewriteRule ^pets?$ /html_body/user/pets_go17.php [L]
RewriteRule ^pets_act?$ /action_no_ajax/user/pets_act_go15.php [L]


RewriteRule ^online?$ /html_body/moduls/online_go01.php [L]
RewriteRule ^premium_buy?$ /action_no_ajax/trade_shop/premium/premium_buy_go01.php [L]

RewriteRule ^admin?$ /html_body/admin/admin_go02.php [L]
RewriteRule ^admin_armor?$ /html_body/admin/admin_armor_go09.php [L]
RewriteRule ^admin_armor_act?$ /action_no_ajax/admin/admin_armor_act_go09.php [L]
RewriteRule ^admin_pets?$ /html_body/admin/admin_pets_go10.php [L]
RewriteRule ^admin_pets_act?$ /action_no_ajax/admin/admin_pets_act_go10.php [L]
RewriteRule ^admin_payment?$ /html_body/admin/admin_payment_go08.php [L]
RewriteRule ^admin_stock?$ /html_body/admin/admin_stock_go07.php [L]
RewriteRule ^admin_podarok?$ /html_body/admin/admin_podarok_go01.php [L]
RewriteRule ^admin_gold?$ /html_body/admin/admin_gold_go03.php [L]
RewriteRule ^admin_res?$ /html_body/admin/admin_res_go04.php [L]
RewriteRule ^admin_block?$ /html_body/admin/admin_block_go05.php [L]
RewriteRule ^chat_moderator?$ /html_body/admin/chat_moderator_go06.php [L]
RewriteRule ^moder_ban?$ /html_body/admin/moder_ban_go06.php [L]
RewriteRule ^user_info?$ /html_body/admin/user_info_go09.php [L]
RewriteRule ^admin_stock_act?$ /action_no_ajax/admin/admin_stock_act_go04.php [L]
RewriteRule ^res_act?$ /action_no_ajax/admin/res_act_go02.php [L]
RewriteRule ^block_act?$ /action_no_ajax/admin/block_act_go03.php [L]
RewriteRule ^block_ip_act?$ /action_no_ajax/admin/block_ip_act_go06.php [L]
RewriteRule ^hidden_act?$ /action_no_ajax/admin/hidden_act_go07.php [L]
RewriteRule ^ban_act?$ /action_no_ajax/admin/ban_act_go06.php [L]
RewriteRule ^deprivation_prava?$ /action_no_ajax/admin/deprivation_prava_go08.php [L]
RewriteRule ^chat_moderator_act?$ /action_no_ajax/admin/chat_moder_act_go05.php [L]
RewriteRule ^admin_act?$ /action_no_ajax/admin/admin_act_go01.php [L]


RewriteRule ^support?$ /html_body/support/support_go01.php [L]
RewriteRule ^support_add?$ /action_no_ajax/support/support_add_go01.php [L]
RewriteRule ^support_comment?$ /action_no_ajax/support/support_comment_go02.php [L]
RewriteRule ^support_close?$ /action_no_ajax/support/support_close_go03.php [L]

RewriteRule ^weapon_me/(([0-9])+)/? /html_body/user/weapon_me_go03.php?id=$1 [L,QSA]
RewriteRule ^hero/(([0-9])+)/? /html_body/user/hero_go02.php?id=$1 [L,QSA]
RewriteRule ^news_read/(([0-9])+)/? /html_body/news/news_read_go02.php?id=$1 [L,QSA]
RewriteRule ^forum_razdel?$ /html_body/forum/forum_razdel_go01.php [L]
RewriteRule ^forum_topic/(([0-9])+)/? /html_body/forum/forum_topic_go02.php?id=$1 [L,QSA]
RewriteRule ^topic_add?$ /html_body/forum/topic_add_go03.php [L]
RewriteRule ^forum_topic/read/(([0-9])+)/? /html_body/forum/forum_topic_read_go04.php?id=$1 [L,QSA]
RewriteRule ^forum_topic/edit/(([0-9])+)/? /html_body/forum/forum_topic_edit_go05.php?id=$1 [L,QSA]
RewriteRule ^forum_topic/edit_comment/(([0-9])+)/? /html_body/forum/forum_comment_edit_go06.php?id=$1 [L,QSA]
RewriteRule ^news/edit_comment/(([0-9])+)/? /html_body/news/news_comment_edit_go04.php?id=$1 [L,QSA]
RewriteRule ^mail?$ /html_body/user/mail_go08.php [L]
RewriteRule ^event_log?$ /html_body/user/event_log_go10.php [L]
RewriteRule ^mail_write/(([0-9])+)/? /html_body/user/mail_write_go09.php?id=$1 [L,QSA]
RewriteRule ^invite_group?$ /action_no_ajax/group/invite_group_go02.php [L]
RewriteRule ^chest_act?$ /action_no_ajax/user/chest_act_go10.php [L]
RewriteRule ^rating?$ /html_body/moduls/rating_go02.php [L]
RewriteRule ^tournament_users?$ /html_body/moduls/tournament_users_go11.php [L]
RewriteRule ^tournament_clan?$ /html_body/moduls/tournament_clan_go12.php [L]
RewriteRule ^chest?$ /html_body/user/chest_go11.php [L]
RewriteRule ^exchanger?$ /html_body/moduls/exchanger_go06.php [L]
RewriteRule ^exchanger_act?$ /action_no_ajax/moduls/exchanger_act_go02.php [L]


RewriteRule ^gift_give?$ /html_body/moduls/gift_give_go09.php [L]
RewriteRule ^gift/(([0-9])+)/? /html_body/moduls/gift_go17.php?id=$1 [L,QSA]
RewriteRule ^gift_act?$ /action_no_ajax/moduls/gift_act_go05.php [L]

RewriteRule ^everyday?$ /html_body/moduls/everyday_go10.php [L]
RewriteRule ^everyday_act?$ /action_no_ajax/moduls/everyday_act_go06.php [L]


RewriteRule ^reid?$ /html_body/reid/reid_go01.php [L]
RewriteRule ^reid_users?$ /html_body/reid/reid_users_go02.php [L]
RewriteRule ^reid_log?$ /html_body/reid/reid_log_go03.php [L]
RewriteRule ^reid_join?$ /action_no_ajax/reid/reid_join_go01.php [L]
RewriteRule ^reid_attack?$ /action_no_ajax/reid/reid_attack_go02.php [L]
RewriteRule ^potions_reid?$ /action_no_ajax/reid/potions_reid_go03.php [L]
RewriteRule ^reid_res?$ /action_no_ajax/reid/reid_res_go04.php [L]


RewriteRule ^premium?$ /html_body/trade_shop/premium_go04.php [L]
RewriteRule ^search_gamers?$ /html_body/moduls/search_gamers_go07.php [L]
RewriteRule ^ignor_list?$ /html_body/user/ignor_list_go15.php [L]
RewriteRule ^download_avatar?$ /html_body/user/download_avatar_go16.php [L]
RewriteRule ^download_avatar_act?$ /action_no_ajax/user/download_avatar_act_go14.php [L]
RewriteRule ^friends_act?$ /action_no_ajax/user/friends_act_go12.php [L]
RewriteRule ^friends/(([0-9])+)/? /html_body/user/friends_go16.php?id=$1 [L,QSA]

RewriteRule ^blacksmith?$ /html_body/moduls/blacksmith_go08.php [L]
RewriteRule ^runa?$ /html_body/moduls/runa_go09.php [L]
RewriteRule ^blacksmith_act?$ /action_no_ajax/moduls/blacksmith_act_go04.php [L]

RewriteRule ^hunting_battle_u?$ /html_body/hunting_location/hunting_battle_u_go01.php [L]
RewriteRule ^hunting_users?$ /html_body/hunting_location/hunting_users_go02.php [L]
RewriteRule ^buy_location?$ /action_no_ajax/hunting_location/buy_location_go01.php [L]
RewriteRule ^create_battle?$ /action_no_ajax/hunting_location/create_battle_go02.php [L]
RewriteRule ^battle_me?$ /action_no_ajax/hunting_location/battle_me_go03.php [L]
RewriteRule ^hunting_attack_u?$ /action_no_ajax/hunting_location/hunting_attack_u_go04.php [L]
RewriteRule ^hunting_potions_u?$ /action_no_ajax/hunting_location/hunting_potions_u_go05.php [L]

RewriteRule ^zamki?$ /html_body/zamki/zamki_go01.php [L]
RewriteRule ^zamki_users?$ /html_body/zamki/zamki_users_go02.php [L]
RewriteRule ^zamki_battle?$ /html_body/zamki/zamki_battle_go03.php [L]
RewriteRule ^zamki_start?$ /action_no_ajax/zamki/zamki_start_go01.php [L]
RewriteRule ^zamki_join?$ /action_no_ajax/zamki/zamki_join_go02.php [L]
RewriteRule ^zamki_attack?$ /action_no_ajax/zamki/zamki_attack_go03.php [L]
RewriteRule ^zamki_health$ /action_no_ajax/zamki/zamki_health_go04.php [L]
RewriteRule ^zamki_freezing$ /action_no_ajax/zamki/zamki_freezing_go05.php [L]
RewriteRule ^zamki_stena$ /action_no_ajax/zamki/zamki_stena_go06.php [L]


RewriteRule ^coliseum?$ /html_body/coliseum/coliseum_go01.php [L]
RewriteRule ^coliseum_start?$ action_no_ajax/coliseum/coliseum_start_go01.php [L]
RewriteRule ^coliseum_attack?$ action_no_ajax/coliseum/coliseum_attack_go02.php [L]
RewriteRule ^coliseum_exit?$ action_no_ajax/coliseum/coliseum_exit_go03.php [L]
RewriteRule ^coliseum_me?$ action_no_ajax/coliseum/coliseum_me_go04.php [L]
RewriteRule ^coliseum_next?$ action_no_ajax/coliseum/coliseum_next_go05.php [L]

RewriteRule ^towers?$ /html_body/towers/towers_go01.php [L]
RewriteRule ^towers_start?$ /action_no_ajax/towers/towers_start_go01.php [L]
RewriteRule ^towers_attack?$ /action_no_ajax/towers/towers_attack_go02.php [L]
RewriteRule ^towers_exit?$ /action_no_ajax/towers/towers_exit_go03.php [L]

RewriteRule ^daily_tasks?$ /html_body/tasks/daily_tasks_go01.php [L]
RewriteRule ^tasks_hunting?$ /action_no_ajax/tasks/tasks_hunting_go01.php [L]
RewriteRule ^tasks_offline_duel?$ /action_no_ajax/tasks/tasks_offline_duel_go02.php [L]
RewriteRule ^tasks_online_duel?$ /action_no_ajax/tasks/tasks_online_duel_go03.php [L]
RewriteRule ^tasks_boss?$ /action_no_ajax/tasks/tasks_boss_go04.php [L]
RewriteRule ^tasks_all?$ /action_no_ajax/tasks/tasks_all_go05.php [L]

RewriteRule ^duel?$ /html_body/duel/duel_go01.php [L]
RewriteRule ^duel_history?$ /html_body/duel_online/duel_history_go03.php [L]
RewriteRule ^call_duel?$ /html_body/user/call_duel_go13.php [L]
RewriteRule ^ref?$ /html_body/user/ref_go14.php [L]
RewriteRule ^knowledge_basa?$ /html_body/knowledge_basa/knowledge_basa_go01.php [L]
RewriteRule ^bbcode?$ /html_body/knowledge_basa/bbcode.php [L]
RewriteRule ^duel_battle?$ /html_body/duel/duel_battle_go02.php [L]
RewriteRule ^duel_online?$ /html_body/duel_online/duel_online_go02.php [L]
RewriteRule ^duel_act?$ /action_no_ajax/duel/duel_act_go01.php [L]
RewriteRule ^duel_attack?$ /action_no_ajax/duel/duel_attack_go02.php [L]
RewriteRule ^duel_attack_auto?$ /action_no_ajax/duel/duel_attack_auto_go03.php [L]
RewriteRule ^duel_online_atk?$ /action_no_ajax/duel_online/duel_online_atk_go02.php [L]
RewriteRule ^potions_duel_online?$ /action_no_ajax/duel_online/potions_duel_online_go03.php [L]
RewriteRule ^buy_duel?$ /action_no_ajax/duel/buy_duel_go04.php [L]


RewriteRule ^restorn?$ /html_body/user/restorn_go12.php [L]
RewriteRule ^restorn_act?$ /action_no_ajax/user/restorn_act_go11.php [L]

RewriteRule ^boss_help?$ /html_body/boss/boss_help_go03.php [L]
RewriteRule ^boss_invite?$ /action_no_ajax/boss/boss_invite_go05.php [L]
RewriteRule ^boss_join?$ /action_no_ajax/boss/boss_join_go06.php [L]
RewriteRule ^boss_exit?$ /action_no_ajax/boss/boss_exit_go07.php [L]

RewriteRule ^payment?$ /donat/payment_go01.php [L]
RewriteRule ^webmoney?$ /donat/webmoney_go02.php [L]

RewriteRule ^achive?$ /html_body/user/achive_go14.php [L]
RewriteRule ^group?$ /html_body/group/group_go01.php [L]
RewriteRule ^group_created?$ /html_body/group/group_created_go02.php [L]
RewriteRule ^group/read/(([0-9])+)/? /html_body/group/group_read_go03.php?id=$1 [L,QSA]
RewriteRule ^boss?$ /html_body/boss/boss_go01.php [L]
RewriteRule ^boss_history?$ /html_body/boss/boss_history_go04.php [L]
RewriteRule ^start_boss?$ /action_no_ajax/boss/start_boss_go01.php [L]
RewriteRule ^boss_attack?$ /action_no_ajax/boss/boss_attack_go02.php [L]
RewriteRule ^buy_boss?$ /action_no_ajax/boss/buy_boss_go03.php [L]
RewriteRule ^boss_battle?$ /html_body/boss/boss_battle_go02.php [L]
RewriteRule ^potions_boss?$ /action_no_ajax/boss/potions_boss_go04.php [L]
RewriteRule ^event_act?$ /action_no_ajax/user/event_act_go09.php [L]

RewriteRule ^ach_ref_act?$ /action_no_ajax/achive/ach_ref_act_go01.php [L]
RewriteRule ^ach_duel_act?$ /action_no_ajax/achive/ach_duel_act_go02.php [L]
RewriteRule ^ach_ohota_act?$ /action_no_ajax/achive/ach_ohota_act_go03.php [L]
RewriteRule ^ach_level_act?$ /action_no_ajax/achive/ach_level_act_go04.php [L]
RewriteRule ^ach_boss_act?$ /action_no_ajax/achive/ach_boss_act_go05.php [L]
RewriteRule ^ach_tasks_act?$ /action_no_ajax/achive/ach_tasks_act_go06.php [L]
RewriteRule ^ach_save_act?$ /action_no_ajax/achive/ach_save_act_go07.php [L]
RewriteRule ^ach_heros1_act?$ /action_no_ajax/achive/ach_heros1_act_go08.php [L]

RewriteRule ^ach_zamki_act?$ /action_no_ajax/achive/ach_zamki_act_go09.php [L]
RewriteRule ^ach_reid_act?$ /action_no_ajax/achive/ach_reid_act_go10.php [L]
RewriteRule ^ach_clan_act?$ /action_no_ajax/achive/ach_clan_act_go11.php [L]
RewriteRule ^ach_chest_act?$ /action_no_ajax/achive/ach_chest_act_go12.php [L]
RewriteRule ^ach_heros2_act?$ /action_no_ajax/achive/ach_heros2_act_go13.php [L]

RewriteRule ^ach_level_sila_act?$ /action_no_ajax/achive/ach_level_sila_act_go14.php [L]
RewriteRule ^ach_level_zashita_act?$ /action_no_ajax/achive/ach_level_zashita_act_go15.php [L]
RewriteRule ^ach_level_health_act?$ /action_no_ajax/achive/ach_level_health_act_go16.php [L]
RewriteRule ^ach_heros3_act?$ /action_no_ajax/achive/ach_heros3_act_go17.php [L]

RewriteRule ^mail_act?$ /action_no_ajax/user/mail_act_go08.php [L]
RewriteRule ^reg?$ /action_no_ajax/user/reg_go02.php [L]
RewriteRule ^chat_act?$ /action_no_ajax/chat/chat_act_go01.php [L]
RewriteRule ^chat_mod?$ /action_no_ajax/chat/chat_mod_go02.php [L]
RewriteRule ^news_act?$ /action_no_ajax/news/news_act_go01.php [L]
RewriteRule ^news_read/edit/(([0-9])+)/? /html_body/news/news_edit_go03.php?id=$1 [L,QSA]

RewriteRule ^news_comment?$ /action_no_ajax/news/news_comment_go01.php [L]

RewriteRule ^forum_act?$ /action_no_ajax/forum/forum_act_go01.php [L]
RewriteRule ^forum_comment?$ /action_no_ajax/forum/forum_comment_go02.php [L]

RewriteRule ^podarok_act?$ /action_no_ajax/moduls/podarok_act_go01.php [L]
RewriteRule ^bonus_act?$ /action_no_ajax/moduls/bonus_act_go03.php [L]
RewriteRule ^reg?$ /action_no_ajax/user/reg_go02.php [L]
RewriteRule ^group_chat?$ /action_no_ajax/group/group_chat_go03.php [L]
RewriteRule ^potions_act?$ /action_no_ajax/user/potions_act_go13.php [L]
RewriteRule ^auth?$ /action_no_ajax/user/auth_go03.php [L]
RewriteRule ^save_a?$ /action_no_ajax/user/save_a_go01.php [L]
RewriteRule ^status_a?$ /action_no_ajax/user/status_a_go05.php [L]
RewriteRule ^setting_act?$ /action_no_ajax/user/setting_act_go06.php [L]
RewriteRule ^training_act?$ /action_no_ajax/user/training_act_go07.php [L]
RewriteRule ^start_hunting?$ /action_no_ajax/hunting/start_hunting_go01.php [L]
RewriteRule ^hunting_attack?$ /action_no_ajax/hunting/hunting_attack_go02.php [L]
RewriteRule ^hunting_attack_auto?$ /action_no_ajax/hunting/hunting_attack_auto_go07.php [L]
RewriteRule ^hunting_exit?$ /action_no_ajax/hunting/hunting_exit_go06.php [L]
RewriteRule ^potions_buy?$ /action_no_ajax/trade_shop/potions/potions_buy_go01.php [L]
RewriteRule ^armor_buy?$ /action_no_ajax/trade_shop/armor/armor_buy_go01.php [L]
RewriteRule ^armor_act?$ /action_no_ajax/user/armor_act_go04.php [L]
RewriteRule ^buy_hunting?$ /action_no_ajax/hunting/buy_hunting_go04.php [L]
RewriteRule ^potions_hunting?$ /action_no_ajax/hunting/potions_hunting_go05.php [L]
RewriteRule ^exit?$ /exit.php [L]

RewriteRule ^clan?$ /html_body/clan/clan_go01.php [L]
RewriteRule ^create_clan?$ /html_body/clan/create_clan_go02.php [L]
RewriteRule ^search_clan?$ /html_body/clan/search_clan_go03.php [L]
RewriteRule ^clan/view/(([0-9])+)/? /html_body/clan/clan_view_go04.php?id=$1 [L,QSA]
RewriteRule ^clan/users/(([0-9])+)/? /html_body/clan/clan_users_go05.php?id=$1 [L,QSA]
RewriteRule ^clan/application/(([0-9])+)/? /html_body/clan/clan_application_go06.php?id=$1 [L,QSA]
RewriteRule ^clan/exit/(([0-9])+)/? /html_body/clan/clan_exit_go07.php?id=$1 [L,QSA]
RewriteRule ^clan/edit/(([0-9])+)/? /html_body/clan/clan_edit_go08.php?id=$1 [L,QSA]
RewriteRule ^clan/kazna/(([0-9])+)/? /html_body/clan/clan_kazna_go10.php?id=$1 [L,QSA]
RewriteRule ^clan/chat/(([0-9])+)/? /html_body/clan/clan_chat_go11.php?id=$1 [L,QSA]
RewriteRule ^clan/history/(([0-9])+)/? /html_body/clan/clan_history_go12.php?id=$1 [L,QSA]
RewriteRule ^clan/building/(([0-9])+)/? /html_body/clan/clan_building_go13.php?id=$1 [L,QSA]
RewriteRule ^clan/tour_exp/(([0-9])+)/? /html_body/clan/clan_tour_exp_go14.php?id=$1 [L,QSA]
RewriteRule ^clan/download_logo/(([0-9])+)/? /html_body/clan/download_logo_go15.php?id=$1 [L,QSA]
RewriteRule ^clan/ad/(([0-9])+)/? /html_body/clan/clan_ad_go16.php?id=$1 [L,QSA]
RewriteRule ^clan/razdel/(([0-9])+)/? /html_body/clan/forum/clan_razdel_go01.php?id=$1 [L,QSA]
RewriteRule ^clan/topic/(([0-9])+)/? /html_body/clan/forum/clan_topic_go02.php?id=$1 [L,QSA]
RewriteRule ^clan/topic_read/(([0-9])+)/? /html_body/clan/forum/clan_topic_read_go03.php?id=$1 [L,QSA]
RewriteRule ^clan/topic_edit/(([0-9])+)/? /html_body/clan/forum/clan_topic_edit_go04.php?id=$1 [L,QSA]


RewriteRule ^create_clan_act?$ /action_no_ajax/clan/create_clan_act_go01.php [L]
RewriteRule ^clan_applic_act?$ /action_no_ajax/clan/clan_applic_act_go02.php [L]
RewriteRule ^clan_join?$ /action_no_ajax/clan/clan_join_go05.php [L]
RewriteRule ^clan_exit_act?$ /action_no_ajax/clan/clan_exit_act_go03.php [L]
RewriteRule ^clan_edit_act?$ /action_no_ajax/clan/clan_edit_act_go04.php [L]
RewriteRule ^clan_time_act?$ /action_no_ajax/clan/clan_time_act_go06.php [L]
RewriteRule ^clan_prava?$ /action_no_ajax/clan/clan_prava_go07.php [L]
RewriteRule ^clan_exclude?$ /action_no_ajax/clan/clan_exclude_go08.php [L]
RewriteRule ^clan_kazna_act?$ /action_no_ajax/clan/clan_kazna_act_go09.php [L]
RewriteRule ^clan_chat_act?$ /action_no_ajax/clan/clan_chat_act_go10.php [L]
RewriteRule ^clan_invite?$ /action_no_ajax/clan/clan_invite_go11.php [L]
RewriteRule ^clan_inv_join?$ /action_no_ajax/clan/clan_inv_join_go12.php [L]
RewriteRule ^download_logo_act?$ /action_no_ajax/clan/download_logo_act_go13.php [L]
RewriteRule ^clan_tour_setting?$ /action_no_ajax/clan/clan_tour_setting_go14.php [L]
RewriteRule ^clan_ad_act?$ /action_no_ajax/clan/clan_ad_act_go15.php [L]
RewriteRule ^clan_razdel_act?$ /action_no_ajax/clan/forum/clan_razdel_act_go01.php [L]
RewriteRule ^clan_topic_act?$ /action_no_ajax/clan/forum/clan_topic_act_go02.php [L]
RewriteRule ^clan_comment_act?$ /action_no_ajax/clan/forum/clan_comment_act_go03.php [L]

RewriteRule ^kazarma?$ /action_no_ajax/clan/building/kazarma_go01.php [L]
RewriteRule ^zamki_b?$ /action_no_ajax/clan/building/zamki_b_go02.php [L]
RewriteRule ^amulet?$ /action_no_ajax/clan/building/amulet_go03.php [L]
RewriteRule ^treasury?$ /action_no_ajax/clan/building/treasury_go04.php [L]

RewriteRule ^halloween_battle?$ /celebration/halloween/halloween_battle_go01.php [L]
RewriteRule ^halloween_battle_act?$ /celebration/halloween/halloween_battle_act_go02.php [L]

RewriteRule ^referal_comp?$ /competition/referal/referal_comp_go01.php [L]
RewriteRule ^referal_history?$ /competition/referal/referal_history_go02.php [L]

RewriteRule ^campaign?$ /action_no_ajax/start/campaign_go01.php [L]

RewriteRule ^pets_duel?$ /html_body/pets/pets_duel/pets_duel_go01.php [L]
RewriteRule ^pets_duel_start?$ /action_no_ajax/pets/pets_duel/pets_duel_start_go01.php [L]
RewriteRule ^pets_duel_exit?$ /action_no_ajax/pets/pets_duel/pets_duel_exit_go02.php [L]
RewriteRule ^pets_duel_attack?$ /action_no_ajax/pets/pets_duel/pets_duel_attack_go03.php [L]

RewriteRule ^wapkassa?$ /donat/wapkassa/wapkassa.php [L]
RewriteRule ^result?$ /donat/wapkassa/result.php [L]
RewriteRule ^error?$ /donat/wapkassa/error.php [L]